django
djangorestframework
langchain
langgraph
langchain-google-genai
python-dotenv
pydantic
google-generativeai
djangorestframework
langgraph-checkpoint
gunicorn
whitenoise
python-dotenv
django-cors-headers
djangorestframework-simplejwt